

/* HEADER */
@font-face {
    font-family: "open_sans-semibolditalic";
    src: url("https://opendata.aragon.es/static/public/fonts/opensans-semibolditalic.woff2") format("woff2"),
      url("https://opendata.aragon.es/static/public/fonts/opensans-semibolditalic.woff") format("woff"),
      url("https://opendata.aragon.es/static/public/fonts/opensans-semibolditalic.ttf") format("truetype"),
      url("https://opendata.aragon.es/static/public/fonts/opensans-semibolditalic.svg#open_sansextrabold")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "open_sans";
    src: url("https://opendata.aragon.es/static/public/fonts/opensans-regular-webfont.woff2")
        format("woff2"),
      url("https://opendata.aragon.es/static/public/fonts/opensans-regular-webfont.woff") format("woff"),
      url("https://opendata.aragon.es/static/public/fonts/opensans-regular-webfont.ttf") format("truetype"),
      url("https://opendata.aragon.es/static/public/fonts/opensans-regular-webfont.svg#open_sansregular")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "open_sans-semibold";
    src: url("https://opendata.aragon.es/static/public/fonts/opensans-semibold-webfont.woff2")
        format("woff2"),
      url("https://opendata.aragon.es/static/public/fonts/opensans-semibold-webfont.woff")
        format("woff"),
      url("https://opendata.aragon.es/static/public/fonts/opensans-semibold-webfont.ttf")
        format("truetype"),
      url("https://opendata.aragon.es/static/public/fonts/opensans-semibold-webfont.svg#open_sanssemibold")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "open_sans-bold";
    src: url("https://opendata.aragon.es/static/public/fonts/opensans-bold.woff2") format("woff2"),
      url("https://opendata.aragon.es/static/public/fonts/opensans-bold.woff") format("woff"),
      url("https://opendata.aragon.es/static/public/fonts/opensans-bold.ttf") format("truetype"),
      url("https://opendata.aragon.es/static/public/fonts/opensans-bold.svg#open_sanssemibold")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Signika-Bold";
    src: url("https://opendata.aragon.es/static/public/fonts/Signika-Bold.eot");
    src: url("https://opendata.aragon.es/static/public/fonts/Signika-Bold.eot?#iefix")
        format("embedded-opentype"),
      url("https://opendata.aragon.es/static/public/fonts/Signika-Bold.woff2") format("woff2"),
      url("https://opendata.aragon.es/static/public/fonts/Signika-Bold.woff") format("woff"),
      url("https://opendata.aragon.es/static/public/fonts/Signika-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Signika-SemiBold";
    src: url("https://opendata.aragon.es/static/public/fonts/Signika-SemiBold.eot");
    src: url("https://opendata.aragon.es/static/public/fonts/Signika-SemiBold.eot?#iefix")
        format("embedded-opentype"),
      url("https://opendata.aragon.es/static/public/fonts/Signika-SemiBold.woff2") format("woff2"),
      url("https://opendata.aragon.es/static/public/fonts/Signika-SemiBold.woff") format("woff"),
      url("https://opendata.aragon.es/static/public/fonts/Signika-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Signika";
    src: url("https://opendata.aragon.es/static/public/fonts/Signika-Regular.eot");
    src: url("https://opendata.aragon.es/static/public/fonts/Signika-Regular.eot?#iefix")
        format("embedded-opentype"),
      url("https://opendata.aragon.es/static/public/fonts/Signika-Regular.woff2") format("woff2"),
      url("https://opendata.aragon.es/static/public/fonts/Signika-Regular.woff") format("woff"),
      url("https://opendata.aragon.es/static/public/fonts/Signika-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  #header html {
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    outline: none;
    box-sizing: border-box;
  }
  
  #header ul {
    padding: 0;
  }
  
  #header section {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: table;
    position: relative;
  }
  
  #header h1 {
    margin: 150px auto;
    display: table;
    font-size: 26px;
    padding: 40px 0px;
    text-align: center;
  }
  
  #header h1 span {
    font-weight: 500;
  }
  
  #header header {
    width: 100%;
    display: block;
    background-color: #333;
    height: 90px;
  }
  
  #header header::before {
    content: "";
    width: 100%;
    position: relative;
    height: 0.65rem;
    background: #fdcb33;
    background: -moz-linear-gradient(
      left,
      #fdcb33 0%,
      #fdcb33 33%,
      #fa9902 33%,
      #fa9902 66%,
      #f05442 66%,
      #f05442 100%,
      #f1f1f1 100%,
      #f05442 100%,
      #f05442 100%
    );
    background: -webkit-linear-gradient(
      left,
      #fdcb33 0%,
      #fdcb33 33%,
      #fa9902 33%,
      #fa9902 66%,
      #f05442 66%,
      #f05442 100%,
      #f1f1f1 100%,
      #f05442 100%,
      #f05442 100%
    );
    background: linear-gradient(
      to right,
      #fdcb33 0%,
      #fdcb33 33%,
      #fa9902 33%,
      #fa9902 66%,
      #f05442 66%,
      #f05442 100%,
      #f1f1f1 100%,
      #f05442 100%,
      #f05442 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdcb33',endColorstr='#f05442',GradientType=1);
    position: absolute;
    top: 0;
  }
  #header #header #logo {
    float: left;
    font-size: 24px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    padding: 20px 0px;
  }
  
  #header nav {
    width: auto;
    float: right;
  }
  
  #header nav ul {
    display: table;
    float: right;
  }
  
  #header nav ul li {
    float: left;
  }
  
  #header nav ul li:last-child {
    padding-right: 0px;
  }
  
  #header nav ul li a {
    font-size: 20px!important;
    transition: all 0.5s ease 0s;
    font-family: "open_sans-bold", sans-serif;
    margin-bottom: 0;
  }

  #header nav ul li ul li{
   width: 100%
  }
  
  #header nav ul li ul li a:hover {
    text-decoration: none;
color: #000;
font-weight: bold;
  }
  
  #header nav ul li a i {
    padding-right: 10px;
    color: #d0d8e0;
    transition: all 0.5s ease 0s;
  }
  
  #header nav ul {
    width: inherit;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
  }
  
  #header nav ul li {
    float: none;
    padding: 0px;
    display: table;
  }
  
  #header .toggle-menu ul {
    display: table;
    width: 25px;
  }
  
  #header .toggle-menu ul li {
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    margin-bottom: 4px;
  }
  
  #header .toggle-menu ul li:last-child {
    margin-bottom: 0px;
  }
  
  #header input[type="checkbox"],
  #header label {
    display: none;
  }
  
  #header .content-header {
    background-image: url(/static/public/header/images/opendata-background-header.jpg);
    height: 169px;
    background-color: #f2f2f2;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  #header .content {
    max-width: inherit;
  }
  .logo-image{
      text-align: center !important;
  }
  #header .content-header-logo {
    display: block;
    margin: 0 auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  
  #header .content-header-logo img {
    margin-top: 50px;
  }

  
  #header .content-header::after {
    content: "";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdcb33',endColorstr='#f05442',GradientType=1);
    width: 100%;
    position: absolute;
    background: #5ea2ba;
    height: 0.5rem;
    bottom: 0;
  }

  #header .logo-dga{
    display: inline-block;
    margin-top: 4px;
  }
  
  /* Icon */
  
  #header #nav-icon3 {
    width: 60px;
    height: 40px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    display: block;
    text-align: center;
  }
  
  #header #nav-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 50%;
    background: #ffffff;
    border-radius: 9px;
    opacity: 1;
    left: 15px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  
  #header #nav-icon3 span:nth-child(1) {
    top: 0px;
  }
  
  #header #nav-icon3 span:nth-child(2),
  #header #nav-icon3 span:nth-child(3) {
    top: 11px;
  }
  
  #header #nav-icon3 span:nth-child(4) {
    top: 22px;
  }
  
  #header #nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  #header #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #header #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #header #nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  #header .header-menu {
    float: right;
  }
  
  #header .european-flag-head .image {
    border-right: 0.1rem solid #fff;
    padding: 0 2rem 0;
  }
  
  .huecoInicioPagina {
    padding-top: 0 !important;
  }
  
  #aosd-logo {
    margin-top: 0 !important;
  }
  

@media (max-width: 320px) {
    #header header {
      padding: 0.85rem 0 1.15rem 1.25rem;
    }
    #header .european-flag-head .image {
      margin-right: 0px !important;
      padding: 0 20px 0 !important;
      border-right: none !important;
    }
    #header h1 {
      padding: 20px 0px;
    }
  
    #header .content-header-logo img {
      width: 90%;
    }
  }
  
  @media (max-width: 360px) {
    #header h1 {
      font-size: 20px;
    }
  
    #header label {
      padding: 5px 0px;
    }
  
    #header #logo {
      font-size: 20px;
    }
  
    #header nav {
      top: 47px;
    }
    #header .nav ul {
      display: grid !important;
    }
    #header .european-flag-head img {
      padding: 0 1rem 0;
      margin-right: 26px;
    }
  }
  
  @media (max-width: 480px) {
    #header section {
      max-width: 90%;
    }
  
    #header .nav ul {
      display: grid !important;
    }
  }
  @media (max-width: 618px) {
    #header h1 {
      padding: 25px 0px;
    }
  
    #header h1 span {
      display: block;
    }
    #header .content-header-logo img {
      width: 95%;
      padding: 8px;
    }
    #header .logo-dga img {
      height: 2rem !important;
      margin-top: 0.9rem !important;
    }
    #header .european-flag-head .image {
      padding: 0 1rem 0;
      margin-right: 26px;
    }
  
    #header nav {
      display: block;
      height: 642px !important;
      width: inherit;
      position: fixed !important;
      right: 0px;
      top:0!important;
      padding: 30px!important;
    }
  
    #header nav ul {
      display: flex;
      justify-content: normal;
      text-align: center;
      flex-direction: column;
    }
  
    #header nav ul li {
      float: none;
      padding: 0px;
      display: table;
      width: -webkit-fill-available;
    }
  
    #header nav ul li a {
      font-size: 24px !important;
    }

    #header nav ul li a::after {
        position: absolute;
        right: 25px;
    }

    #header .dropdown-content {
        padding: 15px 0 0 0!important;
        position: initial!important;
        margin-bottom: 15px;
    }
  }
  
  @media (max-width: 1440px) {
    #header header {
      padding: 1rem 1.5rem 1.3rem;
      margin: 0 auto;
    }
    #header section {
      max-width: 95%;
    }
  }
  @media (max-width: 1980px) {
    #header header {
      padding: 19px 0px 15px;
    }
    #header .logo-dga img {
        height: 50px;
        margin: 0.6rem;
      }
  
    #header #logo {
      padding: 0px;
    }
  
    #header input[type="checkbox"] {
      position: absolute;
      top: -9999px;
      left: -9999px;
      background: none;
    }
    #header input[type="checkbox"]:fous {
      background: none;
    }
  
    #header label {
      float: right; 
      padding: 8px 12px;
      display: inline-block;
      cursor: pointer;
      text-align: center;
    }
  
    #header input[type="checkbox"]:checked ~ nav {
      display: block;
    }
  
    #header .text-open-menu {
      top: 32px;
      position: absolute;
      color: #fff;
      left: 13px;;
    }
  
    #header nav {
      display: none;
      position: absolute;
      top: 71px;
      background-color: #4a4a4a;
      padding: 2px;
      z-index: 99;
      justify-content: space-around;
      width: 100%;
    }
  
    #header .dropdown-content {
      display: none;
      position: absolute;
      background-color: #4a4a4a;
      z-index: 1;
      padding: 0;
    }
  
    #header .dropdown-content a {
      border-left: 1px solid #437587;
      border-bottom: 1px solid #437587;
    }

    #header .dropdown-content li:first-child a{
      border-top: 1px solid #437587;
    }

    #header .dropdown-content li a {
      font-size: 14px!important;
      font-family: "open_sans", sans-serif!important;
      font-weight: normal;
    }
  
    #header .dropdown-content li a::after {
      display: none;
    }
  
    #header nav ul li:hover .dropdown-content {
      display: block;
    }
  
    #header nav ul li a {
      color: #fff !important;
      display: block;
      font-weight: bold;
letter-spacing: 0;
    }

    #header nav ul li a:hover {
      text-decoration: none;
    }
  
    #header nav ul li a::after {
      content: "\f078";
      font-size: 17px;
      line-height: 3.92rem;
      line-height: 0;
      font-family: "FontAwesome";
      margin-left: 5px;
font-weight: 100;
    }
  
    #header nav ul li a:hover:after {
      transform: rotate(180deg);
      transition: all 300ms linear;
    }
  
    #header .text-header-center {
      line-height: normal;
      font-size: 16px;
      text-align: center !important;
      font-family: "Signika", sans-serif;
      margin-bottom: 50px;
    }
    #header .content-header-logo img {
      width: 70%;
    }
    #header .toggle-menu.toggle-menu-inner{
      display: none;
      padding: 0;
    }
  }

  @media (max-width: 618px) {
    #header .toggle-menu.toggle-menu-inner{
      display: block;
      padding: 0;
    }

    .toggle-menu.toggle-menu-inner #nav-icon3{
      width: 22px!important;
    }
    
 
    #header .toggle-menu.toggle-menu-inner .text-open-menu{
      font-weight: normal;
      line-height: 21px;
      top: 0;
      left: 38px;
      font-size: 23px;
    }

    #header .european-flag-head .image {
        padding: 8px 1rem 0;
        margin-right: 26px;
        width: 90px;
    }

    #header label {
        float: right;
        padding: 8px 0px 0 0;
    }

  }



/* new header */

@media (max-width: 620px) {
  .dropdown-info {
    display: none;
  }
}

@media (min-width: 620px) {

  header {
       /* padding: 20px 0 !important; */
    height: 90px;
  }

  #header nav {
    display: flex;
    position: static;
    height: 100%;
    background-color: transparent;
    padding: 0;
    justify-content: space-around;
    width: 100%;
    justify-content: flex-start;
    width: auto;
    align-items: center;
    flex: 0 0 65%;
  }

  .toggle-menu,
  .nav-icon3 {
    display: none !important;
  }

  #header section.section-header {
    width: 98%;
    max-width: 1300px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .header-menu {
    order: 3;
  }

  #header .european-flag-head .image {
    border: none;
    padding: 0;
  }

  #header nav ul li {
    float: none;
    padding: 0px;
    display: table;
    margin-right: 20px;
  }

  #header nav ul li a,
  #header nav ul li label {
    font-size: 16px !important;
    transition: all 0.5s ease 0s;
    font-family: "open_sans-bold", sans-serif;
    margin-bottom: 0;
    color: white;
    font-weight: bold;
  }

  #header nav ul li a::after {
    content: "\f078";
    font-size: 14px;
    line-height: 3.92rem;
    line-height: 2.8rem;
    font-family: "FontAwesome";
    margin-left: 5px;
  }

  #header .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 99;
    padding: 0;
    top: 71px;
    width: 100% !important;
    left: 0;
    color: black;
    min-height: 700px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }

  #header .dropdown-content li:first-child a {
    border: none;
  }

  #header .dropdown-content a {
    /* border-left: 1px solid #437587; */
    /* border-bottom: 1px solid #437587; */
    border: none
  }

  #header nav ul.dropdown-content li a {
    color: #000 !important;
    letter-spacing: 0;
    font-size: 16px!important;
    padding: 10px 0 10px 30px;
  }

  ul.dropdown-content li {
    margin:0;
  }

  .dropdown-links {
    border-right: 1px solid #f0f0f0;
    width: 100%;
    flex: 0 0 40%;
  }

.dropdown-links li:hover{
background-color: #f0f0f0;
}

  .dropdown-links__title {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    padding-left: 30px;
    padding-top: 20px;
    letter-spacing: 0;
text-transform: capitalize;
  }

  #header nav ul li a:hover {
    font-weight: bolder;
  }

  .dropdown-info {
    align-self: flex-start;
    padding: 32px 40px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10%;
    margin-top: 60px;
margin-left: auto;
margin-right: auto;
  }

  .dropdown-info p {
    margin: 0;
font-size: 17px;
text-align: center;
  }
}

@media (max-width:850px) {
  #header .logo-dga img {
    margin-right: 30px;
  }

  #header nav {
    flex: 0 0 50%;
  }


}

@media only screen and (max-width: 618px) {
  #header nav ul li a {
    color: #fff;
  }

  #header nav ul:not(.dropdown-content) {
    display: flex;
    justify-content: flex-start;
  }

  .dropdown-links__title {
    display: none;
  }
}

@media only screen and (max-width: 998px){
.dropdown-info{
display:none;
}

.dropdown-links{
flex: 1;
}


.dropdown-links__title{font-size: 16px}


#header .logo-dga img{height:50px;}

}
@media (max-width: 618px){
#header .logo-dga img{height: 35px!important}
}
